body{
    background-color: black;
   


}
.div1{
    position: absolute;
    margin: auto;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    /* box-sizing: border-box; */
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.div1 a{
    margin-top: 200px;
    text-decoration: none;
    font-size: 5rem;
    position: relative;
    display: inline-block;
   
    overflow: hidden;
    letter-spacing: 4px;
   
}
a span{
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(219deg,transparent,#03e9f4);
     animation:btn-anim1 1s linear infinite;
     -webkit-animation:btn-anim1 1s linear infinite;
}

@keyframes btn-anim1{
    0%{
        left:-100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
     top:-100;
     right: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(180deg,transparent,#03e9f4);
     animation:btn-anim2 1s liner infinite;
     animation-delay: .25s;
     -webkit-animation:btn-anim2 1s linear infinite;
}
@keyframes btn-anim2{
    0%{
        top:-100%;
    }
50%,100%{
    top:100%
}
}
a span:nth-child(3){
     bottom: 0;
     right: 0%;
     width: 100%;
     height: 2px;
     background: linear-gradient(270deg,transparent,#03e9f4);
     animation:btn-anim3 1s linear infinite;
     animation-delay: .5s;
     -webkit-animation:btn-anim3 1s linear infinite;
}
@keyframes btn-anim3{
    0%{
     right: -100%;
    }
50%,100%{
   right: 100%;
}
}
a span:nth-child(4){
     bottom: -100;
     left: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(351deg,transparent,#03e9f4);
     animation-delay: .75s;
     animation:btn-anim4 1s linear infinite;
     -webkit-animation:btn-anim4 1s linear infinite;
}
@keyframes btn-anim4{
    0%{
        top:100%;
    }
50%,100%{
    top:-100%
}
}